html {
    margin: 0;
}

body {
    margin: 0;
}

#playlist-section {
    background-color: rgb(227, 6, 6);
    height: 10vh;
    width: 100vw;
    overflow: hidden;
}

#music-section {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    background-color: rgb(231, 66, 66);
    height: 25vh;
    width: 100vw;
    justify-content: flex-start;
    overflow: hidden;
}


#music-info {
    min-width: 10vw;
    display: flex;
    flex-direction: column;

}

.music-p {
    margin: 1%;
}

#controls-section {
    display: flex;
    flex-direction: row;
}

.buttons {
    margin: 1%;
    padding: .5%;
    border: 0;
    border-radius: 10%;
    font-size: large;
    width: 4vw;
    height: 4vh;
    overflow: hidden;
   
}

#playlist-songs {

    position: absolute;
    bottom: 25vh;
    background-color: lightblue;
    height: 65vh;
    width: 100vw;
}

.tracks-header {
    margin: 1%;
}

#playlist-section p {
    margin: 1%;
}

#playlist-tracks {
    height: 100%;
    overflow-x: scroll;
}

.clear {
    display: none;
}

#main-button,
.spacer {
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}
